let config = {}

config.app = {}
config.app.host = "{{ hostvars[inventory_hostname]['ansible_host'] }}"
config.app.port = {{ port }}

config.db = {}
config.db.contactPoints = [{% for node in groups['db'] %}'{{ hostvars[node]['ansible_host'] }}'{% if not loop.last %},{% endif %}{% endfor %}]
config.db.keyspace = "inventory"
config.db.user = "admin"
config.db.pass = "admin"

module.exports = config;
