# {{ ansible_managed }}
127.0.0.1   localhost
127.0.1.1   vagrant.vm    vagrant    {{ inventory_hostname }}

{% for item in hostvars %}
{% set short_name = item.split('.') %}
{{ hostvars[item]['ansible_host'] }}  {{ item }} {{ short_name[0] }}
{% endfor %}
